body,
html,
#root {
  background-image: linear-gradient(150deg, var(--color1), var(--color6), var(--color1));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  --color1: rgb(32, 0, 39);
  --color2: rgb(200, 34, 255);
  --color3: rgb(171, 138, 255);
  --color4: rgb(0, 255, 242);
  --color5: rgb(122, 255, 34);
  --color6: rgb(8, 0, 10);
}

.profile-div {
  background: transparent;
  width: 25em;
  height: 25em;
  display: flex;
  text-align: left;
  flex-direction: column;
  border-radius: 0.25em;
}

.profile-div p {
  font-family: 'Cutive Mono', monospace;
  color: rgb(255, 0, 221);
}

.chat-div {
  background: transparent;
  width: 25em;
  height: 25em;
  display: flex;
  text-align: left;
  margin: 2em;
  padding: 1em;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.25em;
}

.user-greeting {
  color: var(--color3);
  font-family: 'Bungee Shade', cursive;
}

* {
  font-family: 'Bungee Shade', cursive;
  color: var(--color2);
}

.sent-messages {
  font-family: 'Cutive Mono', monospace;
  color: rgb(255, 0, 221);
  display: flex;
  flex-direction: row-reverse;
}

li {
  list-style: none;
  color: var(--color2);
}

a {
  display: flex;
  align-content: space-around;
  color: var(--color4);
  font-size: 1.5em;
}

h2 {
  color: var(--color5);
}

button {
  background: transparent;
  color: var(--color4);
  height: 2em;
  width: 7em;
  border: solid var(--color3);
  border-radius: 0.25em;
  margin-top: 0.5em;
}

button:hover {
  cursor: pointer;
  opacity: 0.4;
}

form {
  /* background-color: red; */
  display: flex;
  align-items: center;
  height: 5em;
  display: flex;
}

input {
  background-color: var(--color1);
  border: none;
  color: var(--color4);
  font-family: 'Nixie One', cursive;
  display: flex;
}

label {
  color: var(--color5);
}

/* .scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
} */

.auth {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.sign-up {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 4em 1em;
}

.sign-in {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 1em;
}