li {
    list-style: none;
}

.header {
    background-color: rebeccapurple;
    width: 350px;
    height: 350px;
    display: flex;
    text-align: left;
    margin: 4em;
    padding: 1em;
    flex-direction: column;
    color: aqua;
    overflow: scroll;
}
/* .header p {
    display: flex;
    flex-direction: column-reverse;
    background-color: aquamarine;
} */