body,
html,
#root {
  background-image: linear-gradient(150deg, var(--color1), var(--color6), var(--color1));
  background-repeat: no-repeat;
  background-size: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  --color1: rgb(32, 0, 39);
  --color2: rgb(200, 34, 255);
  --color3: rgb(171, 138, 255);
  --color4: rgb(0, 255, 242);
  --color5: rgb(122, 255, 34);
  --color6: rgb(8, 0, 10);
}

.profile-div {
  background: transparent;
  width: 25em;
  height: 25em;
  display: flex;
  text-align: left;
  flex-direction: column;
  border-radius: 0.25em;
}

.profile-div p {
  font-family: 'Cutive Mono', monospace;
  color: rgb(255, 0, 221);
}

.chat-div {
  background: transparent;
  width: 25em;
  height: 25em;
  display: flex;
  text-align: left;
  margin: 2em;
  padding: 1em;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.25em;
}

.user-greeting {
  display: flex;
  flex-direction: column;
  color: var(--color3);
  font-family: 'Bungee', cursive;
}

* {
  font-family: 'Bungee Shade', cursive;
  color: white;
}

.sent-messages {
  font-family: 'Cutive Mono', monospace;
  color: var(--color5);
  margin: 5px;
  background-color: var(--color1);
}

li {
  list-style: none;
  color: var(--color2);
}

a {
  display: flex;
  align-content: space-around;
  color: var(--color4);
  font-size: 1.5em;
}

h2 {
  color: var(--color5);
}

button {
  background: transparent;
  color: var(--color4);
  height: 2em;
  width: 7em;
  border: solid var(--color3);
  border-radius: 0.25em;
  margin-top: 0.5em;
}

button:hover {
  cursor: pointer;
  opacity: 0.4;
}

form {
  /* background-color: red; */
  display: flex;
  align-items: center;
  height: 5em;
  display: flex;
  color: var(--color4);
}

input {
  background-color: var(--color1);
  border: none;
  color: var(--color4);
  font-family: 'Nixie One', cursive;
  display: flex;
}

label {
  color: var(--color3);
}

.auth {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  color: var(--color5);
  margin: 0.5em;
  padding: 0.5em;
}

.auth button {
  margin: 2em;
  font-family: 'Bungee', cursive;
}

.auth label {
  font-family: 'Bungee', cursive;
}

.auth h1 {
  margin-bottom: 2em;
}
.sign-up {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 4em 1em;
}

.sign-in {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 1em;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1.7em;
  margin-top: 0.5em;
  font-size: 2em;
  font-family: 'Bungee', cursive;
  color: var(--color4);
}

.content p {
  font-family: 'Cutive Mono', monospace;
}

.content a {
  margin: 1px;
}

.magic-button {
  width: 7rem;
  height: 3rem;
  font-size: 1.5em;
  /* color: var(--color4);
  position: relative;
  border-radius: 8px;
  background-color: white; */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
}

.magic-button::after {
  position: absolute;
  top: 15px;
  content: 'chat';
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.sidebar {
  background-color: hotpink;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
  display: flex;
  align-items: center;
}

.user-input input {
  width: 20em;
  font-family: 'Bungee', cursive;
  color: var(--color4);
  margin: 2em;
  padding: 1.5em;
}

.user-input select {
  width: 20em;
  font-family: 'Cutive Mono', monospace;
  color: var(--color1);
  padding: 0.75em;
}
.user-input button {
  margin-top: 2em;
}
