.message-input {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* .chat {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 45rem;
} */

.MuiPaper-root MuiPaper-elevation MuiPaper-elevation16 MuiDrawer-paper MuiDrawer-paperAnchorLeft css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: blue;
}